﻿@model steer.Models.UpFile
<link rel="stylesheet" href="~/Scripts/style.css" />

<link href="~/Scripts/selectivity/font-awesome.css" rel="stylesheet" />
<link href="~/Scripts/selectivity/selectivity-full.css" rel="stylesheet" />
<script src="~/Scripts/selectivity/selectivity-full.js"></script>
<link href="~/Scripts/labeleuty/jquery-labelauty.css" rel="stylesheet" />
<script src="~/Scripts/labeleuty/jquery-labelauty.js"></script>
<script src="~/Scripts/tabslet/jquery.tabslet.min.js"></script>
<link href="~/Scripts/tabs/tabs.css" rel="stylesheet" />
<script src="~/Scripts/tabs/tabs.js"></script>
@{
    ViewBag.Title = "Nánar";
}

<div id="documents"></div>

<div id="tab-div" hidden>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul id="tabs">
            </ul>
            <div id="content">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <select name="companyDownFiles" id="companyDownFiles">
            @foreach (var item in ViewBag.companyDownFiles)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <select name="companies" id="companies">
            @foreach (var item in ViewBag.companies)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <select name="deviceDownFiles" id="deviceDownFiles">
            @foreach (var item in ViewBag.deviceDownFiles)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <select name="wordDownFiles" id="wordDownFiles">
            @foreach(var item in ViewBag.wordDownFiles)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <select name="authors" id="authors">
            @foreach(var item in ViewBag.authors)
            {
                <option value="@item.ID">@item.Name</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <input class="form-control" id="malsnumer" placeholder="Málsnúmer" />
    </div>
    <div class="col-md-3"></div>
</div>

<hr />
<div class="row">
    <div class="col-sm-3">
        <button class="btn btn-primary btn-lg form-control" id="docs">Sækja blöð</button>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-primary btn-lg form-control" data-toggle="modal" data-target="#create-doc-modal">Nýtt blað</button>
    </div>
    <div class="col-sm-3">
        @Html.ActionLink("Nýtt tæki", "Create", "Devices", null, new { @class = "btn btn-lg btn-primary form-control" })
    </div>
    <div class="col-sm-3">
        @Html.ActionLink("Nýr leyfishafi", "CreateCL", "Docs", null, new { @class = "btn btn-lg btn-primary form-control" })
    </div>
</div>
<hr />
<table id="excel" class="table table-bordered">
    <thead>
        <tr>
            <th hidden>ID</th>
            @foreach (var item in Model.Columns.Split(';'))
            {
                <th>@item</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Devices)
        {
            <tr>
                <td hidden>@item.ID</td>
                @foreach (var cell in item.values.Split(';'))
                {
                    <td>
                        @cell
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("Create", "Create", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
{
    <div id="create-doc-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 id="myModalLabel" class="modal-title">Nýtt blað</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input type="text" name="title" class="input-grey input-lg" style="background: #eee;" placeholder="Nafn" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="company" class="input-grey input-lg" style="background: #eee;" placeholder="Nafn" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="text1" class="input-grey input-lg" style="background: #eee;" placeholder="Nafn" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Loka</button>
                    <button type="submit" class="btn btn-primary btn-lg">Senda</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $ = jQuery;
    
    var i = 0;
    $.fn.dataTable.moment('DD.MM.YYYY');
    var select1 = $("#companyDownFiles").selectivity({
        placeholder: "Leyfishafafyrirmynd",
    });
    var select2 = $("#companies").selectivity({
        placeholder: "Listi yfir leyfishafa"
    });
    var select3 = $("#deviceDownFiles").selectivity({
        placeholder: "Tækisfyrirmynd",
    });
    var select4 = $("#wordDownFiles").selectivity({
        placeholder: "Skýrsluskjal",
    });
    var select5 = $("#authors").selectivity({
        placeholder: "Höfundar",
    });
    
    $('#excel tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        var str = "";
        var match = $(this).find('td').filter(':contains("GRE-")').text().trim().toUpperCase();
        if( $(this).hasClass('selected') )
        {
            if( $("#tab-div").attr("hidden") )
            {
                $("#tab-div").prop("hidden",false);
                // Ef þetta er eina röðin sem hefur verið valin
                // þá skal taka hidden af #tab-div
            }
            // Hér kemur dót eftir að þetta er búið
            str = "";
            // Til að jQuery radio viðbótin virki verður einn flipi
            // að hafa "current" auðkenni
            if (i++ == 0) str = " id=current";
            $("#tabs").append("<li><a href='#' name=" + "#" + match + str + ">" + match + "</a></li>");
            $("#content").append("<div id='" + match + "'>" + "</div>");
            $("#" + match).hide();
            tabs();
            
            // Það kemur alltaf annað label, þarf að fjarlægja hið fyrra
            $("td label[for]").remove();
            //$("div div div label").remove();
            var id = $('#deviceDownFiles').selectivity('value');
            $("#" + match).load("/docs/crosses/"+id, function () {
                $( $("input:not([name*='_'])") ).each(function () {
                    $(this).attr("name", $(this).attr("name") + "_" + match);
                });
            });

        }
        else
        {
            if( $(table.rows('.selected').data().toArray()).length<1 )
            {
                $("#tab-div").prop("hidden",true);
                // Ef þetta var síðasta röðin sem var afvalin
                // þá skal setja hidden á #tab-div
            }
            // Hér kemur dót eftir að þetta er búið
            var tabContent = $("#tabs a[name=#" + match + "]");
            var contentContent = $("#content div[id=" + match + "]");
            tabContent.remove();
            contentContent.remove();
            tabs();
        }

    });

    $('#docs').click(function () {
        var data = $(table.rows('.selected').data().toArray());
        var radio = $($("input[name*='_']"));
        var array = [];
        $("td input[name*='_']").each(function () {
            if (this != "") array.push($(this).serialize());
        })
        $("#inputs div div input").each(function () {
            if (this != "") array.push($(this).serialize());
        })
        array = array.filter(function (v) { return v !== '' });
        
        data.push(array);
        data.push($("#authors").selectivity('value'));
        data.push($("#malsnumer").val());
        data.push($("#wordDownFiles").selectivity('value'));
        // Það verður að gera push í þessari röð. Kóðinn sem tekur við þessu
        // gerir ráð fyrir þessari röð.
        // Ef þú vilt bæta við fleiri upplýsingum í þennan lista,
        // þá verðurðu að láta það allt koma á undan þessum pushum.
        data.push($("#deviceDownFiles").selectivity('value'));
        data.push($("#companyDownFiles").selectivity('value'));
        data.push($("#companies").selectivity('value'));
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/docs/send",
            data: {
                rows: JSON.stringify(data),
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        })
        .success(function (data) {
            $("#documents").html(data);
        });
    });

</script>