﻿<table id="move" class="table">
    <tr>
        <th>Spurning</th>
        <th>Já</th>
        <th>Nei</th>
        <th>Í lagi</th>
        <th>Á ekki við</th>
        <th>Annað</th>
    </tr>
    <tr>
        <td>Eru aðvörunarmerkingar til staðar og í lagi?</td>
        <td><input type="radio" name="r1" value="1" /></td>
        <td><input type="radio" name="r1" value="2" /></td>
        <td><input type="radio" name="r1" value="3" /></td>
        <td><input type="radio" name="r1" value="4" /></td>
        <td><input type="radio" name="r1" value="5" /></td>
    </tr>
    <tr>
        <td>Merkingar á stjórnborði og geislarofa ?</td>
        <td><input type="radio" name="r2" value="1" /></td>
        <td><input type="radio" name="r2" value="2" /></td>
        <td><input type="radio" name="r2" value="3" /></td>
        <td><input type="radio" name="r2" value="4" /></td>
        <td><input type="radio" name="r2" value="5" /></td>
    </tr>
    <tr>
        <td>
            Aðvörun við geislun til staðar? 
            <label>Ljós<input class="checkbox" type="checkbox" name="c12" /></label> 
            <label>Hljóðmerki<input name="c13" class="checkbox" type="checkbox" /></label>
        </td>
        <td><input type="radio" name="r3" value="1" /></td>
        <td><input type="radio" name="r3" value="2" /></td>
        <td><input type="radio" name="r3" value="3" /></td>
        <td><input type="radio" name="r3" value="4" /></td>
        <td><input type="radio" name="r3" value="5" /></td>
    </tr>
    <tr>
        <td>Aðvörun við tengingu (ljós) ?</td>
        <td><input type="radio" name="r4" value="1" /></td>
        <td><input type="radio" name="r4" value="2" /></td>
        <td><input type="radio" name="r4" value="3" /></td>
        <td><input type="radio" name="r4" value="4" /></td>
        <td><input type="radio" name="r4" value="5" /></td>
    </tr>
    <tr>
        <td>CE merking (á við um ný tæki) ?</td>
        <td><input type="radio" name="r5" value="1" /></td>
        <td><input type="radio" name="r5" value="2" /></td>
        <td><input type="radio" name="r5" value="3" /></td>
        <td><input type="radio" name="r5" value="4" /></td>
        <td><input type="radio" name="r5" value="5" /></td>
    </tr>
    <tr>
        <td>Jafnvægi röntgentækis í lagi  (armur í fullri lengd )?</td>
        <td><input type="radio" name="r6" value="1" /></td>
        <td><input type="radio" name="r6" value="2" /></td>
        <td><input type="radio" name="r6" value="3" /></td> 
        <td><input type="radio" name="r6" value="4" /></td>
        <td><input type="radio" name="r6" value="5" /></td>
    </tr>
</table>
<hr />
<div id="inputs" >


    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Geislunartími bitewing</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="v1">Fullorðnir</label>
                            <input class="form-control" type="text" id="v1" name="v1" />
                        </div>
                        <div class="col-sm-6">
                            <label for="v2">Börn</label>
                            <input class="form-control" type="text" id="v2" name="v2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">FHF</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="r7">> 59 kV = 20 cm?</label>
                            <input type="checkbox" name="c1" />
                        </div>
                        <div class="col-sm-6">
                            <label for="r8">< 60 kV = 10 cm?</label>
                            <input type="checkbox" name="c2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Fjarlægð við töku?</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="r9">>2 metrar</label>
                            <input type="checkbox" name="c3" />
                        </div>
                        <div class="col-sm-8">
                            <label for="r10">eða skermun á milli</label>
                            <input type="checkbox" name="c4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Geislasvið</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="r11">< 6cm</label>
                            <input type="checkbox" name="c5" />
                        </div>
                        <div class="col-sm-6">
                            <label for="r12">< 40x50 mm</label>
                            <input type="checkbox" name="c6" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Deyfing í geislagangi merkt</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="v3">(min. 1,5mm ál)</label>
                            <input type="text" class="form-control" name="v3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Hökuspjald</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="c7"></label>
                            <input type="checkbox" name="c7"  />
                        </div>
                        <div class="col-sm-6">
                            <label>Annað<input id="v4" type="text" class="form-control" name="v4" /></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Mælibúnaður</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label>GR101-UnforsXi<input type="checkbox" name="c8" /></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label>GR016-MultiOMeter<input type="checkbox" name="c9" /></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label>GR006-Barracuda<input type="checkbox" name="c10" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <label>Annað:<input type="text" class="form-control" name="v5" /></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Mælingar 
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>Mæld háspenna (kV)</th>
                            <th>Geislask. (mGy)</th>
                            <th>Geislunarst. (µGy/sek)</th>
                            <th>Mældur g.tími (ms)</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" name="v6" value="15" placeholder="Mæling 1" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="v9" value="15" placeholder="Mæling 1" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="v12" value="15" placeholder="Mæling 1" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="v15" value="15" placeholder="Mæling 1" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" name="v7" value="15" placeholder="Mæling 2" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="v10" value="15" placeholder="Mæling 2" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="v13" value="15" placeholder="Mæling 2" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="v16" value="15" placeholder="Mæling 2" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" name="v8" value="15" placeholder="Mæling 3" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="v11" value="15" placeholder="Mæling 3" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="v14" value="15" placeholder="Mæling 3" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="v17" value="15" placeholder="Mæling 3" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Meðaltal<input type="text" class="form-control" name="v18" placeholder="Meðaltal" /></label>
                            </td>
                            <td>
                                <label>Meðaltal<input type="text" class="form-control" name="v20" placeholder="Meðaltal" /></label>
                            </td>
                            <td>
                                <label>Meðaltal<input type="text" class="form-control" name="v21" placeholder="Meðaltal" /></label>
                            </td>
                            <td>
                                <label>Meðaltal<input type="text" class="form-control" name="v22" placeholder="Meðaltal" /></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Frávik (%)<input type="text" class="form-control" name="v19" id="kv_fravik" placeholder="Frávik" /></label>
                            </td>
                            <td>
                                <label>(óvirkt)<input type="text" disabled class="form-control" /></label>
                            </td>
                            <td>
                                <label>(óvirkt)<input type="text" disabled class="form-control" /></label>
                            </td>
                            <td>
                                <label>Frávik (%)<input type="text" class="form-control" id="ms_fravik" name="v23" placeholder="Frávik" /></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Stillt kV<input type="text" class="form-control" name="v24" id="kv" value="17" placeholder="Stillt kV" /></label>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <label>Stillt ms<input type="text" class="form-control" name="v25" id="ms" value="18" placeholder="Stillt ms" /></label>
                            </td>
                        </tr>
                    </table>
                    <input type="button" style="float:right;" class="btn btn-primary" id="calc" value="REIKNA" name="calc"></input>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Leyfilegt hámark (mGy)
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" name="v26" value="3.5" />
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(":radio").labelauty({
        label: false,
    });
    $(":checkbox").labelauty({
        label: false,
    });
    $("input[name*='calc']").click(function () {
        var tr = $( $( $(this)
            .parent()
            .parent()
            .children()[1] )
            .children()[0] )
            .children()
            .children();
        var sum = 0;
        // Hversu margir reitir eru ekki fyrir mælingar?
        var undesirable = 4;

        // Ytri forlykkja er fyrir hverja mælingu 1,2,3,...
        for (var i = 0; i < $(tr[0]).children().length; i++) {
            // Innri er fyrir ég man það ekkert maður
            for (var k = 1; k <= tr.length - undesirable; k++)
            {
                var val = $($($(
                tr[k])
                .children()[i])
                .children()[0])
                .val();
                var sum = sum + parseFloat(val);
            }
            var mean = sum / (tr.length - undesirable)
            $($($($(tr[tr.length - (undesirable - 1)])
                .children()[i])
                .children()[0])
                .children()[0])
                .val(mean);

            var dev = $($($($(tr[tr.length - (undesirable-2)])
                .children()[i])
                .children()[0])
                .children()[0])

            if (!dev.attr('disabled'))
            {
                var kv = tr.find("input[name^='v24']");
                var ms = tr.find("input[name^='v25']");
                if (dev.attr('id') == 'kv_fravik')
                    dev.val(Math.abs(1 - mean / parseFloat($(kv).val())).toPrecision(6) * 100);
                else
                    dev.val(Math.abs(1 - mean / parseFloat($(ms).val())).toPrecision(6) * 100);
            }
                

            sum = 0;
        }
    });
</script>