﻿@model List<steer.Models.UpFile>
<div class="jumbotron">
    <b>LEYFISHAFI</b> @{@ViewBag.company.Name; }<br />
    <b>EXCEL SKJÖL</b><br />
        @foreach (steer.Models.UpFile item in Model)
        {
            @Html.ActionLink(item.Name, "DL", new { dir = item.Malsnumer, name = item.Name }, new { @class = "btn btn-primary" });<br />
        }
</div>