﻿@model steer.Models.Doc
<link rel="stylesheet" href="~/Scripts/selectivity/font-awesome.css" />
<link rel="stylesheet" href="~/Scripts/selectivity/selectivity-full.css" />

<script type="text/javascript" src="~/Scripts/selectivity/selectivity-full.js"></script>

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Doc</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Devices, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="dropdown-devices" name="devices">
                    @if (ViewBag.devices != null) { 
                        foreach (var device in ViewBag.devices)
                        {
                            <option value="@device.ID">@device.Identify()</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    var dDev = $("#dropdown-devices").selectivity({
        multiple: true,
        placeholder: "Veldu tæki",
        closeOnSelect: false,
    });
    var dWord = $("#dropdown-wordfiles").selectivity({
        multiple: true,
        placeholder: "Veldu Word skjöl",
        closeOnSelect: false,
    });
</script>