﻿@model steer.Models.CompanyLicense

@{
    ViewBag.Title = "DeleteCL";
}

<h2>DeleteCL</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CompanyLicense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reglubundid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reglubundid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NySkodun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NySkodun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssocName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssocName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssocKt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssocKt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssocEd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssocEd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssocEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssocEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamskeidGR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamskeidGR)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "CL")
        </div>
    }
</div>
