﻿@model IEnumerable<steer.Models.Doc>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="operations" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malsnumer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.Company.Name).ToString(), "DL", "Docs", new { dir = item.Malsnumer, name = item.Company.Name + ".xlsx" }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Initials)
                </td>
                <td>
                    @foreach (var d in item.Devices)
                    {
                        @Html.ActionLink(d.gre, "DL", "Docs", new { dir = item.Malsnumer, name = d.Identify() + ".xlsx" }, null)<br />
                    }
                    @Html.ActionLink("Skýrsla", "DL", "Docs", new { dir = item.Malsnumer, name = "Skýrsla.docx" }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Malsnumer)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $.fn.dataTable.moment('D.M.YYYY HH:mm:ss');
</script>