﻿<script src="~/Scripts/selectivity/selectivity-full.js"></script>
<link href="~/Scripts/selectivity/font-awesome.css" rel="stylesheet" />
<link href="~/Scripts/selectivity/selectivity-full.css" rel="stylesheet" />
@{ 
    ViewBag.Title = "Stýrið";
}
<div class="jumbotron">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <select name="purpose" class="selectivity">
            <option value="company">Leyfishafafyrirmynd</option>
            <option value="device">Tækjafyrirmynd</option>
            <option value="devices">Tækjalisti</option>
            <option value="word">Skýrsluskjal</option>
        </select>
        <input type="submit" value="Hlaða" />
    }
</div>
<script>
    var select = $(".selectivity").selectivity({
        placeholder: "Tilgangur skjals",
        showSearchInput: "false",
    });
</script>