﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="~/Content/fancy.css" />
    <script type="text/javascript" src="~/Content/fancy.js"></script>
    <link rel="stylesheet" href="~/Scripts/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/jquery.dataTables_themeroller.css" />
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/sorting/datetime-moment.js"></script>
    <script type="text/javascript" src="~/Scripts/date.js"></script>
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"49147402-a14c-4e90-a86d-0c52054040c9"
        });
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div id="wrapper">
    <!--<div class="overlay"></div> Gerir hvítan, gegnsæjan lit á skjáinn þegar maður ýtir á takkann.  -->
        @if (Request.IsAuthenticated)
        {
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        @Html.ActionLink("Stýrið", "Index", "Home", null, null)
                    </li>
                    <li>
                        @Html.ActionLink("Heim","Index","Home",null,null)
                    </li>
                    <li>
                        @Html.ActionLink("Excel skjöl","Index","Files",null,null)
                    </li>
                    <li>
                        @Html.ActionLink("Aðgerðaskrá","Index","Docs",null,null)
                    </li>
                    <li>
                        @Html.ActionLink("Leyfishafar","CL","Docs",null,null)
                    </li>
                    <li>
                        @Html.ActionLink("Leyfishafafyrirmyndir","CL","Files",null,null)
                    </li>
                    <li>
                        @Html.ActionLink("Tækjafyrirmyndir","Dev","Files",null,null)
                    </li>
                    <li>
                        @Html.ActionLink("Skýrslufyrirmyndir","Reports","Files",null,null)
                    </li>
                    <li>
                        @Html.ActionLink("Höfundar","Index","Authors",null,null)
                    </li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Útskrá @User.Identity.Name</a>
                        }
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown heading</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->
        }
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container" style="margin-top:-6em;">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h1>@ViewBag.Title</h1>
                        <hr />
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var table = $('table').DataTable({
            "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        });
        $.extend($.fn.dataTableExt.oStdClasses, {
            "sWrapper": "dataTables_wrapper form-inline",
        });     
    </script>
</body>
</html>
